
<footer id="colophon" class="site-footer">
    <div class="subscribe">
    <div class="block-1200">
    <div class="social">
    <div>
    <h6>Join the community</h6>
    <p>Follow us and stay connected and updated.</p>
    </div>
    <a href="https://www.facebook.com/nextendweb" target="_blank" rel="noopener" class="n2-social-button n2-social-button-facebook">
    Facebook
    </a>
    <a href="https://twitter.com/nextendweb" target="_blank" rel="noopener" class="n2-social-button n2-social-button-twitter">
    Twitter
     </a>
    </div>
    <div class="newsletter">
    <div>
    <h6>Subscribe our newsletter</h6>
    <p>And receive the latest news from Smart Slider.</p>
    </div>
    <form action="//nextendweb.us6.list-manage.com/subscribe/post?u=a41cdf5c66c6a26c1002f5296&amp;id=1cf1f54d9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <label for="email" style="display:block;overflow:hidden;width:0;height:0;">E-mail</label>
    <input name="EMAIL" id="email" type="email" placeholder="email@domain.com"><input type="submit" value="Subscribe" name="subscribe">
    <input type="hidden" value="No" name="SS3PRO" class="" id="mce-ss3pro">
    <input type="hidden" value="No" name="AMPRO" class="" id="mce-ampro">
    <input type="hidden" value="No" name="SS2PRO" class="" id="mce-ss2pro">
    <input type="hidden" value="Smart Slider 3" name="SOURCE" class="" id="mce-source">
    </form>
    </div>
    </div>
    </div>
    <nav class="nextend-info">
    <div class="block-1200">
    <div class="about-us">
    <img src="https://p2.hiclipart.com/preview/786/850/421/coronavirus-covid-covid19-line-png-clipart-thumbnail.jpg" alt="logo">
    </div><div class="company info-col"><h6>Dvelopers</h6><hr>
    <ul class="sub-menu">
    <li id="menu-item-9090" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9090"><a target="_blank" rel="noopener" href="https://nextendweb.com/opening-of-the-nextend/">Bushra Bilal</a></li><li id="menu-item-9091" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9091"><a target="_blank" rel="noopener" href="https://nextendweb.com">Isra'a Othman</a></li><li id="menu-item-9092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9092"><a target="_blank" rel="noopener" href="https://nextendweb.com/terms-and-conditions/">Osama Mousa</a></li><li id="menu-item-9093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9093"><a target="_blank" rel="noopener" href="https://nextendweb.com/privacy-policy/">Majd Alkilany</a></li></ul>
    </div><div class="support info-col"><h6>Contact</h6><hr>
    <ul class="sub-menu">
    <li id="menu-item-9095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9095"><a target="_blank" rel="noopener" href="https://smartslider3.helpscoutdocs.com/">Email</a></li><li id="menu-item-9096" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9096"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=lsq09izc1H4&amp;list=PLSawiBnEUNfvzcI3pBHs4iKcbtMCQU0dB">covid@email.com</a></li><li id="menu-item-9099" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9099"><a href="https://smartslider3.com/pricing/#post-65"></a></li></ul>
    </div><div class="social info-col"><h6>Social</h6><hr>
    <ul class="sub-menu">
    <li id="menu-item-9101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9101"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/nextendweb/">Facebook</a></li><li id="menu-item-9102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9102"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/nextendweb">Twitter</a></li><li id="menu-item-9110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9110"><a target="_blank" href="https://smartslider3.com/subscribe/">Newsletter</a></li><li id="menu-item-9104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9104"><a href="https://smartslider3.com/blog/">Blog</a></li></ul>
    </div><div class="quick-links info-col"><h6>Quick Links</h6><hr>
    <ul class="sub-menu">
    <li id="menu-item-9106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9106"><a target="_blank" rel="noopener" href="https://secure.nextendweb.com">who.org</a></li><li id="menu-item-9107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9107"><a href="https://smartslider3.com/affiliate/">coronavirus.gov</a></li><li id="menu-item-9108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9108"><a href="https://smartslider3.com/partners/"></a></li><li id="menu-item-9109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9109"><a href="https://smartslider3.com/features/"></a></li></ul>
    </div> </div>
    </nav>
    <div class="site-info">
    Copyright © 2020 Nextend. All rights reserved.
    </div>
    </footer>
    