<header class="default-color" id="navbar">
    <img id="logo"
        src="https://p2.hiclipart.com/preview/786/850/421/coronavirus-covid-covid19-line-png-clipart-thumbnail.jpg"
        alt="logo">
    <h1 id="h1">Covid-19</h1>
    <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span
            class="bottom"></span></div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li><a class="a" href="/">Home</a></li>
                <li><a class="a" href="/dashboard">Dashboard</a></li>
                <li><a class="a" href="/advice">Advice</a></li>
                
            </ul>
        </nav>
    </div>
</header>
