<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 WebApp</title>
</head>
<body>
    <header>
        <a href="/dashboard">Dashboard</a>
    </header>
    <main>
    <h1>Working!</h1>
        <!-- data-aos="fade-up" data-aos-duration="3000" -->
        <section class="fade-in">
            inro
        </section>
        <div id="section1" class="mainSections" >
            <h2>
            </h2>
            <p>
            </p>
            <p>
            </p>
        </div>
        <div id="section2" class="mainSections">
            <h2>
            </h2>
            <p>
            </p>
            <p>
                
            </p>
        </div>       
        <div id="section3" class="mainSections"> 
            <h2>
            </h2>
            <p>
            </p>
            <p>
                
            </p>
        </div>
        <div id="section4" class="mainSections">
            <div class="news">
            </div>
            <div class="news">
            </div>
            <div class="news">
            </div>
            <div class="news">
            </div>
            <div class="news">
            </div>
        </div>       
    </main>
    <footer></footer>
</body>
</html>