<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

<body>
    <header class="default-color" id="navbar">
        <img id="logo"
            src="https://p2.hiclipart.com/preview/786/850/421/coronavirus-covid-covid19-line-png-clipart-thumbnail.jpg"
            alt="logo">
        <h1 id="h1">Covid-19</h1>
        <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span
                class="bottom"></span></div>
        <div class="overlay" id="overlay">
            <nav class="overlay-menu">
                <ul>
                    <li><a class="a" href="/">Home</a></li>
                    <li><a class="a" href="/dashboard">Dashboard</a></li>
                    <li><a class="a" href="/advice">Advice</a></li>
                    <li><a class="a" href="/information">Information</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <main>

        <h1>Working!</h1>
        <!-- data-aos="fade-up" data-aos-duration="3000" -->
        <section class="fade-in">
            inro
        </section>
        <div id="section1" class="mainSections">
            <h2 class="h2">
            </h2>
            <p>
            </p>
            <p>
            </p>
        </div>
        <div id="section2" class="mainSections">
            <h2 class="h2">
            </h2>
            <p>
            </p>
            <p>

            </p>
        </div>
        <div id="section3" class="mainSections">
            <h2 class="h2">
            </h2>
            <p>
            </p>
            <p>

            </p>
        </div>
        
        <div id="section4" class="mainSections">
            <div class="wrapper">

              <%- include('partials/news')%>

        </div>
    </main>
    <%- include('partials/footer')%>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

    <script src="./script/header.js"></script>
</body>

</html>