<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 WebApp</title>
</head>
<body>
  <div>
    <%allData.forEach(val=>{%>
    <p> <%=val.name%></p>
    <p> <%=val.country%></p>
    <p> <%=val.comment%></p>
    <button>Edit comment</button>
  <%})%>
  </div>
    
<a href="/form"><button>Add Comment</button></a>

</body>
</html>