<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
  <%- include('../partials/header')%>
    <form action="/addComent" method="POST">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="country" placeholder="Enter your country">
        <input type="text" name="comment" placeholder="Add your advice">
        <input type="submit" value="add">
    </form>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $('#toggle').click(function () {
            $(this).toggleClass('active');
            $('#overlay').toggleClass('open');
        });
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll > 300) {
                $(".default-color").css("background-color", "#20202083");
            }

            else if (scroll === 0) {
                $(".default-color").css("background-color", "#202020");
            }
        })
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-110px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>
</html>