<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
  <%- include('../partials/header')%>
    <h1>Test</h1>
<%- include('../partials/footer')%>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../script/header.js"></script>
</body>
</html>