<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
  <%- include('../partials/header')%>
    <h1>Test</h1>
<%- include('../partials/footer')%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../script/header.js"></script>
</body>
</html>