/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Mobile View */
@media(min-width: 360px){
    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        font-family: 'Lato', sans-serif;
        background-color: #121212;
        color: #ffffff;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        transition: 0.3s color ease-in-out;
    }
    a:hover {
        color: wheat;
    }
    .default-color {
        display: flex;
        height: 110px;
        background-color: #202020;
        justify-content: space-between;
        position: sticky;
        width: 100%;
        top: 0;
    }
    .scrolled-color {
        background-color: #fff !important;
        transition: background-color 200ms linear;
      }
    #logo {
        width: 50px;
        height: 50px;
        position: sticky;
        top: 2%;
        left: 2%;
    }
    #h1 {
        text-align: center;
        margin-top: 2%;
        font-size: xx-large;
        color: #ffffff;
    }
    /*********** Hanburger Menu CSS ***********/
    .button_container {
        position: sticky;
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
      }
      .button_container:hover {
        opacity: .7;
      }
      .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF;
      }
      .button_container.active .middle {
        opacity: 0;
        background: #FFF;
      }
      .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF;
      }
      .button_container span {
        background: #ffffff;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
      }
      .button_container span:nth-of-type(2) {
        top: 11px;
      }
      .button_container span:nth-of-type(3) {
        top: 22px;
      }
      
      .overlay {
        position: fixed;
        background: #202020;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
      }
      .overlay.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
      }
      .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
      }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s;
      }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s;
      }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s;
      }
      .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;
      }
      .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
      }
      .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
      }
      .overlay ul li a {
        display: block !important;
        position: relative !important;
        color: #FFF !important;
        text-decoration: none !important;
        overflow: hidden !important;
        font-size: xxx-large;
      }
      .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100% !important;
      }
      .overlay ul li a:after {
        content: '' !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 50% !important;
        width: 0% !important;
        transform: translateX(-50%) !important;
        height: 3px !important;
        background: #FFF !important;
        transition: .35s !important;
      }
      
      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }
      main {
        margin-top: 10%;
      }
      
}